<%- include("header") -%>
<style>
    body {
        background-image: linear-gradient(#1A4A91, #1A4A91);
        background-color: #1A4A91;
        color: aliceblue;
    }

    div {
        overflow: auto;
    }
</style>
<div>
    <table class="table table-lg table-hover table-dark table-striped"
        style="background-image: linear-gradient(#1A4A91,black);">
        <tr>
            <th>Id</th>
            <%for(var i = 0;i<doc.length;i++){%>
                <th>
                    <%=doc[i].username%>
                </th>
            <%}%>
        </tr>
        <%for(var j =0;j<56;j++){%>
            <tr>
                <th><%=j+1%></th>
                <%for(var i = 0;i<doc.length;i++){%>
                    <%if(doc[i].Bets[j+1]==""){%>
                        <th>
                            <p>-</p>
                        </th>
                    <%} else if(doc[i].Wins[j+1]==""){%>
                        <th>
                            <%=doc[i].Bets[j+1]%>
                        </th>
                    <%} else if (doc[i].Wins[j+1]==doc[i].Bets[j+1]){%>
                        <th style="color:greenyellow">
                            <%=doc[i].Bets[j+1]%>
                        </th>
                    <%} else{%>
                        <th style="color:orangered">
                            <%=doc[i].Bets[j+1]%>
                        </th>
                    <%}%>
                <%}%>
            </tr>
        <%}%>
    </table>
</div>

<%- include("footer") -%>